*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 4px;
    font-size: 20px;
    padding: 17px;
    
}
header{
    padding: 4px;
    background-color: gray;
    margin-left: 4px solid darkgray;
    margin-right: 50%;
}
fieldset{
    padding: 4px;
    margin-left: 4px solid darkgray;
    margin-right: 50%;
}
